<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <div class="d-flex flex-column vh-100">
      <%- include('./layout/header'); -%>

      <section class="container pt-13">
        <img
          src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
          alt="logo"
          class="d-block mx-auto mb-5"
          style="width: 32px; height: 32px"
        />
        <h1 class="text-center mb-5 fs-7 fw-bold">會員登入</h1>
        <div class="row">
          <div class="col-md-4 mx-auto">
            <form>
              <label for="email" class="mb-2 font-noto-tc-sans">帳號</label>
              <input
                type="email"
                id="email"
                placeholder="請輸入帳號"
                class="d-block bg-base w-100 mb-5"
              />
              <label for="password" class="mb-2 font-noto-tc-sans">密碼</label>
              <input
                type="password"
                id="password"
                placeholder="請輸入密碼"
                class="d-block bg-base w-100 mb-9"
              />
              <button
                type="button"
                class="py-2 text-white btn btn-primary w-100"
              >
                <span class="me-1">確認訂閱</span>
                <i class="icofont-rounded-double-right fw-bold"></i>
              </button>
            </form>
          </div>
        </div>
      </section>

      <%- include('./layout/footer'); -%>
    </div>
    <script type="module" src="../assets/js/swiper.js"></script>

    <script type="module" src="../main.js"></script>
  </body>
</html>
